<app-divider>
  Tab Menu
</app-divider>
<app-tabs>
  <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="./">
      <span>Biography</span>
    </a>
  </li>
  <li routerLinkActive="is-active">
    <a routerLink="companies">
      <span class="icon is-small"
        ><i class="fas fa-image" aria-hidden="true"></i
      ></span>
      <span>Companies</span>
    </a>
  </li>
  <li routerLinkActive="is-active">
    <a routerLink="partners">
      <span>Partners</span>
    </a>
  </li>
</app-tabs>
<app-divider>
  Table Component
</app-divider>
<app-table
  classNames="is-striped is-hoverable is-bordered"
  [data]="data"
  [headers]="headers"
></app-table>
