<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        routerLink="collections"
        routerLinkActive="is-active"
        class="navbar-item"
      >
        Collections
      </a>

      <a routerLink="elements" routerLinkActive="is-active" class="navbar-item">
        Elements
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
